<h1>Hamburgers</h1>

<h2>Uneaten Burgers</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgerCard}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgerCard}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
    <input type="text" placeholder="Burger Name" name="name">
    <button type="submit">Add Burger</button>
</form>